<div class="main">
  <p class="title">هر رویدادی که تو html وجود داره رو میتونیم استفاده کنیم. البته باید نام رویداد رو بدون کلمه ی on و تو پرانتز بنویسیم</p>
  <p class="title">
    تو مثال های پایین از data binding به روش <u>local refrence</u> هم استفاده شده. console رو باز کنید
  </p>
  <div>
    <button (click)="showAlert('💙👋🏻💛')" class="btn1">رویداد onclick</button>
    <input (keypress)="onKeypress($event)" placeholder="رویداد onKeyUp">
    <input (change)="onChange(Inp)" placeholder="رویداد onchange" #Inp>
    <input (focus)="onFocus(Inp2)" (blur)="onBlur(Inp2)" placeholder="رویداد onFocus" #Inp2>
  </div>
  <br><br>
  <p class="title">
    یه مثال کاربردی از <u>local refrence</u> 
    به همراه <span class="mark4">Interface</span> و <span class="mark4">Enum</span>
  </p>
  <div>
    <input placeholder="نام و نام خانوادگی" #fullName>
    <input placeholder="شماره تلفن" #phone>
    <select #levelOfEducation>
      <option value="0">سطح تحصیلات را انتخاب کنید</option>
      <option [value]="levelOfEducationEnum.Bachelor">{{levelOfEducationEnum.Bachelor}}</option>
      <option [value]="levelOfEducationEnum.Masters">{{levelOfEducationEnum.Masters}}</option>
      <option [value]="levelOfEducationEnum.PHD">{{levelOfEducationEnum.PHD}}</option>
    </select>
    <br>
    <button class="btn1" (click)="register(fullName,phone,levelOfEducation)">ثبت اطلاعات</button>
  </div>
  <br>
  <div>
    <span class="mark1">{{person.fullName}}</span>
    <span class="mark2">{{person.phone}}</span>
    <span class="mark3">{{levelOfEducationEnum[person.levelOfEducation]}} | {{person.levelOfEducation}}</span> 
  </div>
</div>