
<header>
  <div id="logo-image"></div>
  <div class="main">
       <div class="title">app-level2-1</div>
       <div class="description">Overview Of Basic Angular Capabilities</div>
       <div class="description-yellow">Source No. 2</div>
       <div class="link-wrapper">
          <div class="link">
            <a href="https://t.me/angularescort" class="btn-flip telegram" data-back="angularescort" data-front="Telegram" target="_blank"></a>
            <a href="https://github.com/ngcoreamirh" class="btn-flip github" data-back="ngcoreamirh" data-front="Github" target="_blank"></a>
            <a href="https://stackblitz.com/@ngcoreamirh" class="btn-flip stackblitz" data-back="ngcoreamirh" data-front="Stackblitz" target="_blank"></a>
          </div>
       </div>
  </div>
</header>

<div class="section-title">مبحث <span class="mark3">Binding</span> در Angular</div>
<div class="box-panel">
    <div class="box-item">
     <div class="title">1- بخش Data Binding</div>
     <app-binding-one></app-binding-one>
    </div>

    <div class="box-item">
      <div class="title">2- بخش Event Binding</div>
      <app-binding-two></app-binding-two>
    </div>

    <div class="box-item">
      <div class="title">3- بخش Property & Attribiute Binding</div>
      <app-binding-three></app-binding-three>
    </div>

    <div class="box-item">
      <div class="title">4-بخش تغییر DOM یا DOM Manipulating</div>
      <app-binding-four></app-binding-four>
    </div>
</div>

<div class="section-title">مبحث <span class="mark2">Directives</span> در Angular</div>
<div class="box-panel">
    <div class="box-item">
      <div class="title">1- بخش Structural Directive</div>
      <app-directive-one></app-directive-one>
    </div>

    <div class="box-item">
      <div class="title">2- بخش Custom Directive</div>
      <app-directive-two></app-directive-two>
    </div>
</div>

<div class="section-title">مبحث <span class="mark1">Pipe</span> در Angular</div>
<div class="box-panel">
    <div class="box-item">
      <div class="title">1- بخش pipe های آماده ی انگولار</div>
      <app-pipe-one></app-pipe-one>
    </div>

    <div class="box-item">
      <div class="title">2- بخش Custom Pipe</div>
      <app-pipe-two></app-pipe-two>
    </div>
</div>

<footer>
  <a href="https://t.me/amirhoseinghasemiii" target="_blank">
    <img src="/assets/images/author.jpg">
  </a> 
  <small>💠 امیــرحسیــــن قاسمـــی 💠</small>
</footer>