<div class="main">
  <p class="title">
    توسط دایرکتیو هایی که میسازیم میتونیم رو یک المان اعمال مختلفی انجام بدیم.
    توسط HostListener میتونیم رویدادهای مختلف رو برا المانمون تعریف و هندل کنیم.
    تو مثال پایین از رویدادهای mouseenter و mouseleave استفاده کردیم.
  </p>

  <br>
  <span appMarkText>این متن توسط دایرکتیوی که ساختیم مارک شده. روی متن هاور کنید.</span>

  <br><br>
  <p class="title">
    میتونیم به دایرکتیو هامون پارامتر ورودی پاس بدیم.
    تو مثال پایین دایرکتیو کاربردی ای رو نوشتیم که هشتگ های متن رو شناسایی میکنه و داخل تگ a قرار میده.
    رنگ متن هشتگ رو میتونیم به عنوان ورودی به دایرکتیو بدیم.
    چنانچه مقدار ورودی رو خالی قرار بدیم یا کلا ورودی رو برداریم، براش تم پیشفرض قرار دادیم.
  </p>

  <br>
  <p [appMarkHashtag]="{color: 'green'}">
    تغییر استایل #هشتگ ها توسط #دایرکتیو انجام شده است.
    چنانچه دایرکتیو appMarkHashtag رو روی هر المانی قرار بدید هشتگ های داخلش رو شناسایی میکنه، به همین راحتی.
    حتما کانال #تلگرام #انگولار_اسکورت رو به افراد دیگه معرفی کنید
    تا اون ها هم از آموزش های #Angular بهره مند بشن.
  </p>
  <br>
</div>