/* معمولا یه فایل به نام رنگ ها درست میشه و متغیرهای موردنیاز تعریف میشه.
برای این اگر بعدا تصمیم گرفتیم مثلا همه رنگ های آبی که استفاده کردیم و تغییر بدیم
مجبور نباشیم بگردیم دونه دونه تغییر بدیم.
یه جا تعریفشون میکنیم که تغییرشون هم ساده باشه و یه دست باشه */
$White : #ffffff;
$Dark_White : #dfdfdf;
$Black : #161616;
$Light_Black: #202020;
$Gray: #3b3b3b;
$Light_Gray: #b4b4b4;
$Dark_Gray: #292929;
$Yellow : #ffff00;
$Blue: #3983d8;
$Red: #fc4343;
$Cherry_Red: #b90c4e;
$Orange: #ffa500;
$Green: #58eb58;
$Purple: #f578ea;

$Icon_Color: #85e1f0;